<div class="container">
  <h1><%= @task.title %></h1>
  <button type="button" class="btn"> <%= link_to 'Edit Task', edit_task_path %></button>
  <p id="task_details"> <%= @task.details %></p>

  <div id="task_status">
    <div>
   <i class="<%= @task.completed ? "far fa-calendar-check" : "far fa-calendar" %>"></i>
    </div>
    <div>
    <p> <%= @task.completed ? "  =>  the task is completed" : "  =>  the task is not completed" %></p>
    </div>
  </div>
  <button class='back_to_list'> <%= link_to 'back to list', tasks_path %></button>

</div>


